h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navButton {
  height: 50px;
  border-radius: 25px;
}
.hello {
  outline: 2px solid red;
}
.nav-link {
  display: grid;
  place-items: center;
}
.carouselItem {
  height: 100vh;
  outline: 5px solid red;
  position: relative;
}
.carouselTitle {
  position: absolute;
  transform: translateY(-100%);
}

.outer {
  margin-top: 100px;
}
