h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section {
  height: 100vh;
  outline: 2px solid red;
  margin-top: 100px;
}
.navButton {
  height: 50px;
  border-radius: 25px;
}
.hello {
  outline: 2px solid red;
}
.nav-link {
  display: grid;
  place-items: center;
}
.carouselItem {
  height: 100vh;
  outline: 5px solid red;
  position: relative;
}

.carouselItem img {
  height: 100%;
  width: 100%;
}

.outer {
  margin-top: 100px;
}
.contactSection {
  height: 50vh;
  background-image: url('https://i.picsum.photos/id/3/5000/3333.jpg?hmac=GDjZ2uNWE3V59PkdDaOzTOuV3tPWWxJSf4fNcxu4S2g');
  background-position: center;
  background-attachment: fixed;
  margin-top: 100px;
  display: grid;
  place-items: center;
}
